.gal-501 {
  position: absolute;
  width: 320px;
  top: 91px;
  right: 15px;
  transform: scale(0); /* Initially hidden */
  animation: scaleIn 1s ease forwards; /* Animation properties */
}

@keyframes scaleIn {
  from {
    transform: scale(0); /* Start with no scale */
  }
  to {
    transform: scale(1); /* Scale to normal size */
  }
}

.gal-502 {
  position: absolute;
  right: 23px;
  top: 9px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .gal-501 {
    position: unset;
    margin: 0 auto;
    margin-top: 30px;
  }
}
